#contenedor{
    height: 100vh;
    margin-top: -2rem;
}

.card {
    display: flex;
    flex-direction: column;
    border-style: none;
    border-radius: 15px;
    padding: 1rem;
    width: 60vw;
    height: max-content;
    text-align: center;
    box-shadow: 0 0 20px #353535;
}

@media (max-width: 600px) {
    .card {
        width: 100vw;
        background-color: rgba(73, 89, 101, 0.6);
    }
}