#goBack {
    display: flex;
    align-items: center;
    transition: all linear 20ms;
}

#goBack:hover{
    transform: scale(1.05);
    transition: 70ms ease;
}

#goBack img {
    width: 24px;
    height: 24px;
}

#goBack a {
    text-decoration: none;
}

#goBack h6 {
    margin-top: 8px;
    color: black;
}