body{
    background-image: url("/img/fondo1.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

.card {
    background-color: grey;
    border: 2px solid clear;
    border-radius: 15px;
    padding: 0.5rem;
    margin: auto;
    width: 45vw;
    height: fit-content;
    text-align: center;
}

.card h2 {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.card form input[type="text"], .card form input[type="password"] {
    width: 75%;
    padding: 12px 10px;
    margin: 1vh;
    border-style: none;
    border: 2px solid clear;
    border-radius: 8px;
}

.card form button[type="submit"] {
    margin-top: 18vh;
    border: 2px solid clear;
    border-radius: 15px;
    color: white;
    border-style: none;
    background-color: rgb(97, 23, 124);
    padding: 1.8vw;
    width: 35vw;
    font-size: 2vh;
}

.card form input[type="text"]:hover {
    box-shadow: 5px 10px #888;
}

.card div {
    width: 75%;
}

.title {
    text-align: center;
}

#switchLabel {
    padding: 10px;
}