h1 {
    margin: 10px;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    border-style: none;
    border-radius: 15px;
    padding: 0.5rem;
    margin-top: 30px;
    width: 60vw;
    height: max-content;
    text-align: center;
    box-shadow: 0 0 20px #353535;
}

.card h2 {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.txt-input {
    width: 40vw;
    padding: 12px 10px;
    margin: 1vh;
    border-style: none;
    border: 2px solid clear;
    border-radius: 8px;
}

.card div {
    width: 75vw;
}

.card .form-check {
    display: flex;
    padding-left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    width: 32vw;
    margin: auto !important;
}
.form-check input[type="checkbox"] {
    margin: 0;
    margin-right: 1vw;
}

.title {
    text-align: center;
}

.title-sm {
    display: none;
}

#logBtn {
    margin-top: 20px;
    border: 2px solid clear;
    border-radius: 15px;
    border-style: none;
    padding: min(1.3vw, 13px);
    width: 32vw;
    max-width: 320px;
    font-size: 2.25vh;
    transition: 70ms ease;
}

#logBtn:hover {
    border-radius: 10px;
    transform: scale(1.05);
    transition: 70ms ease;
}

#switchLabel {
    padding: 10px;
}

@media (max-width: 600px) {
    .title {
        display: none;
    }
    .title-sm {
        display: block;
        font-size: min(11.5vw, 50px);
    }
    .card {
        width: 90vh;
        height: 90vh;
        margin: 2vh;
        background-color: rgba(73, 89, 101, 0.6);
    }
    .txt-input {
        width: min(85vw, 300px);
    }
    .form-check {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .card .form-check {
        display: initial;
        align-items: center;
        width: 80vw;
        margin: auto !important;
    }
    .form-check input[type="checkbox"] {
        margin: 0;
        margin-right: 1vw;
    }
    #login-txt {
        font-size: min(9.5vw, 40px);
    }
    #logBtn {
        border-radius: 7.5px;
        padding: 10px;
        width: min(50vw, 190px);
        margin-top: 5vh;
    }
    #logBtn:hover {
        border-radius: 5px;
    }
}