h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid clear;
    border-radius: 15px;
    padding: 0.5rem;
    width: 60vw;
    height: 85vh;
    text-align: center;
}

.card h2 {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.card form input[type="text"], .card form input[type="password"] {
    width: 40vw;
    padding: 12px 10px;
    margin: 1vh;
    border-style: none;
    border: 2px solid clear;
    border-radius: 8px;
}

.card form button[type="submit"] {
    margin-top: 10vh;
    border: 2px solid clear;
    border-radius: 15px;
    border-style: none;
    padding: 1.3vw;
    width: 32vw;
    font-size: 2.22vh;
}

.card div {
    width: 75vw;
}

.card .form-check {
    display: flex;
    padding-left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    width: 32vw;
    margin: auto !important;
}
.form-check input[type="checkbox"] {
    margin: 0;
    margin-right: 1vw;
}

.title {
    text-align: center;
}

#switchLabel {
    padding: 10px;
}