h1{
    margin: 5vh auto;
}

.group-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #FCFDF8;
    border-radius: 15px;
    width: 55vw;
    margin: 1rem;
    border: 2px solid black;
}

.group-details * {
    margin: 0.5rem;
}

.group-details:hover {
    transform: scale(1.005);
    transition: 70ms ease;
}

#group-name {
    font-weight: bolder;
    width: 10rem;
}

.edit-btn {
    color: white;
}

.edit-btn:hover {
    border-radius: 0px;
    transform: scale(1.05);
    transition: 70ms linear;
}

.edit-btn-sm {
    display: none;
    background: none;
    border: none;
}

.edit-btn-sm img {
    width: 24px;
    height: 24px;
}

#delete-btn {
    background: none;
    border: none;
}

#delete-btn img {
    width: 24px;
    height: 24px;
}

#delete-btn img:hover {
    transform: scale(1.5);
    transition: 70ms ease;
}

.title2{
    display: none;
}

#group-icon {
    width: 24px;
}

@media (max-width: 600px) {
    .title{
        display: none;
    }

    .title2 {
        display: block;
        color: white;
    }

    .group-details {
        width: 80vw;
        height: max-content;
        padding: 10px;
        margin: 0.25rem;
        justify-content: center;
        align-items:center;
        align-content: center;
    }

    .group-details * {
        margin: 5px 10px 5px 10px;
    }

    .edit-btn {
        display: none;
    }

    .edit-btn-sm {
        display: initial;
    }

    #group-name {
        width: 100px;
    }

    #group-icon {
        width: 14px;
    }
}