html,body{
    width: 100%;
    height: 100%;
}

#goBack {
    margin-top: 20px;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    transition: all linear 200ms;
}

#goBack:hover{
    width: 30px;
    height: 30px;
}

#main {
    width: 100%;
    height: 100%;
}

#bgProfile{
    margin: 30px 0px;
    background-color: gray;
    width: 80%;
    min-height: 80%;
    border-radius: 15px;
}

#imgProfile{
    margin-top: -4rem;
    width: 8rem;
    height: 8rem;
    border-radius: 25%;
}

#bodyProfile {
    width: 100%;
    height: 100%;
    padding: 1em;
}

.dataProfileTxt {
    font-size: 1.2em;
    font-weight: bold;
    text-align: justify;
}

#friendList {
    min-width: 100%;
    height: 100%;
}

#friendTitle{
    font-weight: bold;
    font-style: italic;
}

.imgFriend {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

#friendBody {
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 7em;
    grid-gap: 10px;
}

.friendComponent {
    max-width: 5em;
    transition: ease-in 100ms;
}

.friendComponent:hover{
    cursor: pointer;
    transform: translateY(-7px);
}